* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* чтобы padding и border не увеличивали размер элемента */
}

html {
    box-sizing: border-box;
}
  
*, *::before, *::after {
    box-sizing: inherit;
}

body{
    margin: 0 auto;
    height: 100%;
    flex-direction: column;
    font-weight: 500;
    font-size: 20px;
    line-height: 45px;
    color: #ffffff;
}

ul, ol {
    list-style: none;
}
  
a {
    text-decoration: none;
    color: white;
}

.header{
    background-image: url(images/home_back_space.png);
    height: 1024px;
    width: 1900px;
}

.nav-list{
    display: flex;
    gap: 100px;
    line-height: 25px;
    align-items: center;
}

.top-nav{
    display: flex;
    padding-left: 265px;
    padding-top: 47px;
    gap: 300px;
}

.header-content{
    display: flex;
    gap: 490px;
    width: 1900px;
    justify-content: center;
}

.left-header-content{
   padding-top: 150px;
   display: flex;
   flex-direction: column;
   gap:120px;
   height: 888px;
}

.right-header-content{
    height: 888px;
    position: relative;
    width: 480px;
    overflow: hidden;
}

.logotext{
    font-family: "Kenia", sans-serif;
    font-size: 150px;
    font-weight: 400;
    font-style: normal;
    line-height: 150px;
}

.founded-information-header{
    line-height: 30px;
}

.smartphone{
    position: absolute;
}

.cabel{
    padding-top: 735px;
    padding-left: 45px; 
}

.first-music-desktop{
    background-color: #D53005;
    width: 1900px;
}