* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* чтобы padding и border не увеличивали размер элемента */
}

html {
    box-sizing: border-box;
}
  
*, *::before, *::after {
    box-sizing: inherit;
}

body{
    margin: 0 auto;
    height: 100%;
    flex-direction: column;
    font-weight: 500;
    font-size: 20px;
    line-height: 45px;
    color: #ffffff;
}

html::-webkit-scrollbar {
    display: none;
  }

ul, ol {
    list-style: none;
}
  
a {
    text-decoration: none;
    color: white;
}

.header{
    background-image: url(images/home_back_space.png);
    height: 1024px;
    width: 1920px;
}

.nav-list{
    display: flex;
    gap: 100px;
    line-height: 25px;
    align-items: center;
}

.top-nav{
    display: flex;
    padding-left: 265px;
    padding-top: 47px;
    gap: 300px;
}

.header-content{
    display: flex;
    gap: 490px;
    width: 1920px;
    justify-content: center;
}

.left-header-content{
   padding-top: 150px;
   display: flex;
   flex-direction: column;
   gap:120px;
   height: 888px;
}

.right-header-content{
    height: 888px;
    position: relative;
    width: 480px;
    overflow: hidden;
}

.logotext{
    font-family: "Kenia", sans-serif;
    font-size: 150px;
    font-weight: 400;
    font-style: normal;
    line-height: 150px;
}

.founded-information-header{
    line-height: 30px;
}

.smartphone{
    position: absolute;
}

.cabel{
    padding-top: 735px;
    padding-left: 45px; 
}

#main{
    width: 1920px;
}

#first-music-desktop{
    width: 1920px;
    height: 1024px;
    background-color: #D53005;
}

.menu-desktop{
    display: block;
    padding-left: 265px;
    padding-top: 90px;
    font-size: 30px;
}

.music-desktop-content{
    display: flex;
    width: 1920px;
    padding-left: 265px;
    margin-top: 60px;
    gap: 255px;
    height: 680px;
}

.music-dektop-menu{
    display: block;
    width: 382px;
    padding-top: 225px;
}

.music-desktop-button-listen{
    width: 382px;
    height: 83px;
    background: radial-gradient(at top left, #B13E18, #F3501A);
    color: #ffffff;
    font-size: 35px;
    box-shadow: 2px 2px 5px 0px #000000;
}

.music-desktop-button-find{
    width: 382px;
    height: 83px;
    background: radial-gradient(at top left, #B13E18, #F3501A);
    font-size: 35px;
    color: #ffffff;
    margin-top: 83px;
    box-shadow: 2px 2px 5px 0px #000000;
}

#second-about-desktop{
    width: 1920px;
    height: 1024px;
    background-image: linear-gradient(#D53005, #000000 10%);
}

.second-about-desktop-content{
    height: 890px;
    width: 1920px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.second-about-desktop-description{
    line-height: 50px;
    font-size: 35px;
}

#third-store-desktop{
    height: 1024px;
    width: 1920px;
    background-color: #D53005;
    overflow: hidden;
}

.third-store-desktop-container{
    position: relative;
}

.laptop-container-image{
    position: absolute;
    margin-left: 800px;
    margin-top: 80px;
}

.third-store-desktop-container-menu{
    display: flex;
    position: absolute;
    margin-top: 200px;
    margin-left: 460px;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

.black-button{
    width: 240px;
    height: 60px;
    font-size: 20px;
    background-color: #020202;
    color: #ffffff;
    border-radius: 50px;
    border: 0;
    box-shadow: 2px 2px 5px 0px #000000;
}

.white-button{
    width: 240px;
    height: 60px;
    font-size: 20px;
    background-color: #E3E3E3;
    color: #000000;
    border-radius: 50px;
    border: 0;
    box-shadow: 2px 2px 5px 0px #000000;
    margin-top: 40px;
}

.third-store-desktop-lastversion{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 430px;
}

.white-bold-p{
    font-weight: bold;
}

.white-tiny-p{
    font-weight: 300;
    text-align: center;
    line-height: 25px;
}

.last-version-link{
    color: #000000;
}

footer{
    height: 536px;
    width: 1920px;
    background-image: linear-gradient(#D53005, #000000 10%);
}

.footer-menu-container{
    display: flex;
    padding-top: 120px;
    justify-content: right;
}

.footer-menu{
    display: flex;
    flex-direction: column;
    height: 536px;
}

.footer-menu-store{
    display: flex;
    flex-direction: column;
    width: 350px;
}

.footer-menu-label{
    font-weight: bold;
    padding-bottom: 10px;
}

.footer-menu-item{
    font-weight: lighter;
}

.footer-text-logo{
    display: block;
    font-family: "Kenia", sans-serif;
    font-size: 35px;
    width: 150px;
    padding-left: 265px;
    line-height: 35px;
}

.footer-description{
    display: flex;
    padding-left: 265px;
    width: 1920px;
    gap: 125px;
}